/* Load custom font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


/* Override CSS defaults */
* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.logo {
    font-size: 36px;
    font-weight: 700;
    margin-top: 1%;
}

/* create css variables */
body {
    --col-textbg: #ffebcd;
}


.dark-mode {
    background-color: black;
    color: white;
    --col-textbg: #ff0000;
}

/* Flexbox Navbar class */
.flex-nav {
    display: flex;
    justify-content: flex-start;
    padding: 0px 3%;
}

/* Container id */
#flex-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    /* height: 40vh; */
}

#flex-main-dock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background-color: var(--col-textbg);
}
 

#flex-day-date{
    margin-right: 20%;
}


.day {
    font-size: 96px;
    margin:0;
    padding:0;
    line-height: 100%;
}
.date {
    font-size: 64px;
    margin:0;
    padding:0;
    line-height: 100%;
}

.time {
    font-size: 96px;
    margin: 0px 0px;
    margin-left: 20%;
    line-height: 100%; 
}

